# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/node_modules
/.pnp
.pnp.js

# environment / secrets
.env
.env.*
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# testing
coverage/
/coverage

# production builds
build/
/build
dist/

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*